<h2>コーディネート一覧</h2>
<p class="">
  <%= link_to "コーディネートを投稿する", new_cordinate_path %>
</p>

<div class="album py-5">
  <div class="container">
    <div class="row">
        <%= render @cordinates %>
    </div>
  </div>
  <%= paginate @cordinates %>
</div>